workflows/IGM Gita Quiz WhatsApp Bot.json
{
  "name": "IGM Gita Quiz WhatsApp Bot",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "whatsapp-incoming",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d826d87b-7857-4014-a95c-c8eecf1ca6c1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -880,
        -32
      ],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query ? $json.query['hub.mode'] : '' }}",
              "value2": "subscribe"
            }
          ]
        }
      },
      "id": "052b10f0-a630-41b3-a4c6-8637fd5a6216",
      "name": "Is Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -656,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "9475839a-be4c-4e1e-b343-10c7907bb010",
      "name": "Respond to Verification",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -432,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract incoming WhatsApp message\nconst body = $input.first().json.body;\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst messages = value?.messages?.[0];\n\n// Check if message exists\nif (!messages) {\n  return [];\n}\n\nconst userMessage = messages?.text?.body?.trim() || '';\nconst userPhone = messages?.from || '';\nconst messageId = messages?.id || '';\n\n// Define menu responses in Hindi\nconst responses = {\n  '1': 'ЁЯУЪ *рдЧреАрддрд╛ рдХреНрд╡рд┐рдЬрд╝ 2025*\\n\\nтАв рдкреНрд░рд╛рд░рдВрдн рддрд┐рдерд┐: 4 рдирд╡рдВрдмрд░ 2025\\nтАв рд╕рдорд╛рдкреНрддрд┐ рддрд┐рдерд┐: 14 рдирд╡рдВрдмрд░ 2025\\nтАв рд╢реНрд░реЗрдгрд┐рдпрд╛рдВ: рд╕реНрдХреВрд▓, рдХреЙрд▓реЗрдЬ, рдУрдкрди\\nтАв рдкреБрд░рд╕реНрдХрд╛рд░ рд░рд╛рд╢рд┐: тВ╣50,000 рддрдХ\\nтАв рдЖрдпреЛрдЬрдХ: рдЬрд┐рд▓рд╛ рдкреНрд░рд╢рд╛рд╕рди рдХреБрд░реБрдХреНрд╖реЗрддреНрд░\\n\\nЁЯУМ рдореБрдЦреНрдп рдореЗрдиреВ рдХреЗ рд▓рд┐рдП 0 рднреЗрдЬреЗрдВ',\n  \n  '2': 'ЁЯУЭ *рдкрдВрдЬреАрдХрд░рдг рдХрд░реЗрдВ*\\n\\nрдСрдирд▓рд╛рдЗрди рдкрдВрдЬреАрдХрд░рдг:\\nЁЯМР https://kurukshetra.gov.in/igm/register\\n\\nрдпрд╛ рд╣рдорд╕реЗ рд╕рдВрдкрд░реНрдХ рдХрд░реЗрдВ:\\nЁЯУЮ 01744-222XXX\\nЁЯУз igm@kurukshetra.gov.in\\n\\nЁЯУМ рдореЗрдиреВ рдХреЗ рд▓рд┐рдП 0 рднреЗрдЬреЗрдВ',\n  \n  '3': 'ЁЯУЛ *рдирд┐рдпрдо рдФрд░ рд╢рд░реНрддреЗрдВ*\\n\\nтЬУ рднрд╛рд░рддреАрдп рдирд╛рдЧрд░рд┐рдХ рдкрд╛рддреНрд░ рд╣реИрдВ\\nтЬУ рдЖрдпреБ рд╕реАрдорд╛: 10-40 рд╡рд░реНрд╖\\nтЬУ рдСрдирд▓рд╛рдЗрди рдкрд░реАрдХреНрд╖рд╛\\nтЬУ рдХреБрд▓ рдкреНрд░рд╢реНрди: 100\\nтЬУ рд╕рдордп рд╕реАрдорд╛: 60 рдорд┐рдирдЯ\\nтЬУ рднрд╛рд╖рд╛: рд╣рд┐рдВрджреА/рдЕрдВрдЧреНрд░реЗрдЬреА\\n\\nрд╡рд┐рд╕реНрддреГрдд рдирд┐рдпрдо:\\nhttps://kurukshetra.gov.in/igm/rules\\n\\nЁЯУМ рдореЗрдиреВ: 0',\n  \n  '4': 'ЁЯУЕ *рдорд╣рддреНрд╡рдкреВрд░реНрдг рддрд┐рдерд┐рдпрд╛рдВ*\\n\\nЁЯУЭ рдкрдВрдЬреАрдХрд░рдг рд╢реБрд░реВ: 1 рдирд╡рдВрдмрд░ 2025\\nЁЯУЭ рдкрдВрдЬреАрдХрд░рдг рд╕рдорд╛рдкреНрддрд┐: 3 рдирд╡рдВрдмрд░ 2025\\nЁЯУЪ рдХреНрд╡рд┐рдЬрд╝ рдкреНрд░рд╛рд░рдВрдн: 4 рдирд╡рдВрдмрд░ 2025\\nЁЯУЪ рдХреНрд╡рд┐рдЬрд╝ рд╕рдорд╛рдкреНрддрд┐: 14 рдирд╡рдВрдмрд░ 2025\\nЁЯПЖ рдкрд░рд┐рдгрд╛рдо рдШреЛрд╖рдгрд╛: 20 рдирд╡рдВрдмрд░ 2025\\nЁЯОБ рдкреБрд░рд╕реНрдХрд╛рд░ рд╡рд┐рддрд░рдг: 7 рджрд┐рд╕рдВрдмрд░ 2025\\n\\nЁЯУМ рдореЗрдиреВ: 0',\n  \n  '5': 'ЁЯУЮ *рд╕рдВрдкрд░реНрдХ рдХрд░реЗрдВ*\\n\\nЁЯПЫя╕П рдЬрд┐рд▓рд╛ рдкреНрд░рд╢рд╛рд╕рди рдХреБрд░реБрдХреНрд╖реЗрддреНрд░\\nЁЯУз dc@kurukshetra.gov.in\\nЁЯУЮ 01744-222XXX\\nЁЯМР kurukshetra.gov.in\\n\\nЁЯУН рдкрддрд╛:\\nрдорд┐рдиреА рд╕рдЪрд┐рд╡рд╛рд▓рдп\\nрдХреБрд░реБрдХреНрд╖реЗрддреНрд░, рд╣рд░рд┐рдпрд╛рдгрд╛ - 136118\\n\\nЁЯУМ рдореЗрдиреВ: 0',\n  \n  '0': 'ЁЯЩП *рдирдорд╕реНрддреЗ!*\\n\\n*International Gita Mahotsav 2025*\\n*Gita Quiz Registration*\\n\\nрдХреГрдкрдпрд╛ рд╡рд┐рдХрд▓реНрдк рдЪреБрдиреЗрдВ:\\n\\n1я╕ПтГг рдХреНрд╡рд┐рдЬрд╝ рдЬрд╛рдирдХрд╛рд░реА\\n2я╕ПтГг рдкрдВрдЬреАрдХрд░рдг рдХрд░реЗрдВ\\n3я╕ПтГг рдирд┐рдпрдо рдФрд░ рд╢рд░реНрддреЗрдВ\\n4я╕ПтГг рдорд╣рддреНрд╡рдкреВрд░реНрдг рддрд┐рдерд┐рдпрд╛рдВ\\n5я╕ПтГг рд╕рдВрдкрд░реНрдХ рдЬрд╛рдирдХрд╛рд░реА\\n\\nрдХреГрдкрдпрд╛ рд╕рдВрдЦреНрдпрд╛ (1-5) рднреЗрдЬреЗрдВ',\n  \n  'default': 'ЁЯЩП *рдирдорд╕реНрддреЗ!*\\n\\n*International Gita Mahotsav 2025*\\n*Gita Quiz Registration*\\n\\nрдХреГрдкрдпрд╛ рд╡рд┐рдХрд▓реНрдк рдЪреБрдиреЗрдВ:\\n\\n1я╕ПтГг рдХреНрд╡рд┐рдЬрд╝ рдЬрд╛рдирдХрд╛рд░реА\\n2я╕ПтГг рдкрдВрдЬреАрдХрд░рдг рдХрд░реЗрдВ\\n3я╕ПтГг рдирд┐рдпрдо рдФрд░ рд╢рд░реНрддреЗрдВ\\n4я╕ПтГг рдорд╣рддреНрд╡рдкреВрд░реНрдг рддрд┐рдерд┐рдпрд╛рдВ\\n5я╕ПтГг рд╕рдВрдкрд░реНрдХ рдЬрд╛рдирдХрд╛рд░реА\\n\\nрдХреГрдкрдпрд╛ рд╕рдВрдЦреНрдпрд╛ (1-5) рднреЗрдЬреЗрдВ'\n};\n\n// Get appropriate response based on user input\nconst responseText = responses[userMessage] || responses['default'];\n\n// Return data for next node (HTTP Request)\nreturn [{\n  json: {\n    phone: userPhone,\n    message: responseText,\n    messageId: messageId\n  }\n}];"
      },
      "id": "a7b6aae0-4940-4281-b326-00885d905f8d",
      "name": "Menu Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/838788905982249/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAMswZAGjFWABP3Ru73ieZBZCVi4Ym0u9wWdv2r8ZA8rKINgROt2c61Q2Hd8CrEPJsIbZBaEjevLpebi"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.message }}\"\n  }\n}",
        "options": {}
      },
      "id": "1a16605d-7612-491a-a8de-99278c00fe4c",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -208,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sLrQyEmXac1GQRPz",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "453c6636-cd9d-4c4a-aad5-1bb439d76309",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Is Verification?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification?": {
      "main": [
        [
          {
            "node": "Respond to Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Logic": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a49fbb1e-0a55-47f3-b197-292ac182b7f1",
  "meta": {
    "instanceId": "48526abc278275333dce5fc863fc98d13924c5865e9ff4eb9498a75e87d7df1f"
  },
  "id": "MNORnssISF5zD6nq",
  "tags": []
}